/*
 * -------------------------------------------------------
 *  SCG cluster config file for Nextflow nf-core pipelines
 * -------------------------------------------------------
 * http://www.scg.stanford.edu/
 * version - 1.0.0
 */

params {

   config_profile_description = 'Curtis Lab SCG cluster config file for Nextflow based nf-core pipelines'
   config_profile_contact = 'Aziz Khan <azizk@stanford.edu>'

   max_memory = 30.GB
   max_cpus = 8
   max_time = 100.h
   // Use interactive partition (default) or add your PI account by replacing partition with account
   hpc_account = '--partition interactive --nodes=1 --ntasks=1'
   singularity_cache_dir ="<path to store singularity images>"
   igenomes_base = "<path for iGenomes>/reference/iGenomes"
}

singularity {
   enabled = true
   cacheDir = params.singularity_cache_dir
   // autoMounts = true
}

process {
   executor = 'slurm'
   clusterOptions = params.hpc_account
   beforeScript = 'module load nextflow'
   cpus = 8
   memory = 16.GB
   time = 96.h
}
